/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  /* height: auto !important; */
  color: rgba(255,255,255,.9);
  position: relative;

}

.moveimage
{
    position: relative;
    top: 5px;
}
.blur-me {
  filter: blur(6px);
}

.movepic
{
    position: relative;
    top: 50px;
}

  .parallax-container .section {
    width: 100%;
  }
#particles-js {
  background: #042559;
  height: 50px;
}
.navyblue {
    background: #042559;
}
 .intro {
  font-family: 'Titillium Web', sans-serif;
  font-size: 100px !important;
  color: #f35626;
  height: auto;
  background: linear-gradient(225deg, #ff0000, #ffb300, #ffe000, #00da1b, #009dda, #001fda, #a200da, #da00b1, #da003c);
  background-size: 1800% 1800%;
  -webkit-animation: hue-infinite 49s ease infinite;
  -moz-animation: hue-infinite 49s ease infinite;
  -o-animation: hue-infinite 49s ease infinite;
  animation: hue-infinite 49s ease infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
.background1{
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  width: 100%;

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.sun {
  color: white;
  font-size: 120px;
}

.options-contact {
  overflow: hidden;
  border-radius: 25px;
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.2s ease-in-out;
  opacity: 0.9;

}
@-webkit-keyframes hue-infinite {
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}
@-moz-keyframes hue-infinite {
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}
@-o-keyframes hue-infinite {
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}
@keyframes hue-infinite { 
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}
.options-contact:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.contact-btn {
  text-align: center;
  font-size: 35px;
}
.padding-def {
  padding: 10px !important;
}
.round-corner {
  border-radius: 15px !important;
}
.gold-border-sect {
    /*border: 3px solid #FFDF00;*/
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tc-border-sect {
  /*border: 3px solid #0071bb;*/
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.important-text {
  font-family: 'Titillium Web', sans-serif;
}
#project-header {
  font-size: 100px;
}
.lang-used {
  font-size: 35px !important;
}
.black-border-sect {
    /*border: 3px solid #000;*/
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}